<ion-view class="title-page" title="{{translation.COMMERCIAL_ATTENTION | uppercase}}">
    <ion-content scroll="true" padding="false">
        <div class="position-rel border-bottom-3 border-color-reading-style">
            <img src="{{branchesDescription.imagen}}" class="width-full-size" />
            <!--<i ng-click="goBranchesMap()" class="button-icon icon ion-close-circled contact-color close-button"> </i>-->
        </div>
        <div class="row border-bottom border-color-grey-enel">
            <div class="col-20 col-center center">
                <img src="img/logos/logo_e.png" width="45">
            </div>
            <div class="col col-center">
                <h5><strong>{{branchesDescription.titulo}}</strong></h5>
                <h6>{{branchesDescription.direccion}}</h6>
            </div>
            <div class="col-10 col-center">
                <button ng-click="openNavigator(branchesDescription.latitud,branchesDescription.longitud, branchesDescription.titulo)" class="button button-positive button-small button-circle">{{translation.GO}}</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" active-slide="0" pager-click="slide(index)" does-continue="false" class="branches-description-hours">
                    <ion-slide>
                        <div class="row">
                            <div class="col-20">
                                <h6><strong>{{translation.OPENING_HOURS | uppercase}}</strong></h6>
                            </div>
                            <div class="col-10 right branches-clock">
                                <i class="icon ion-android-time"></i>
                            </div>
                            <div class="col">
                                <span class="branches-time">
                                    <div ng-bind-html="branchesDescription.horario_apertura"></div>
                                    </span>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide ng-if="branchesDescription.horario_pago">
                        <div class="row">
                            <div class="col-20">
                                <h6><strong>{{translation.PAYMENT_HOURS | uppercase}}</strong></h6>
                            </div>
                            <div class="col-10 right branches-clock">
                                <i class="icon ion-android-time"></i>
                            </div>
                            <div class="col">
                                <span class="branches-time">
                                    <div ng-bind-html="branchesDescription.horario_pago"></div>
                                    </span>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide ng-if="branchesDescription.horario_especial">
                        <div class="row">
                            <div class="col-20">
                                <h6><strong>{{translation.SPECIAL_HOURS | uppercase}}</strong></h6>
                            </div>
                            <div class="col-10 right branches-clock">
                                <i class="icon ion-android-time"></i>
                            </div>
                            <div class="col">
                                <span class="branches-time">
                                   <div ng-bind-html="branchesDescription.horario_especial"></div>
                                   </span>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <p>
                    <div ng-bind-html="branchesDescription.detalle"></div>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-block contact-style button-general" ng-click="goBack()">{{translation.BACK | uppercase}}
                    <!--<i class="icon icon_enel_check"></i>-->
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>