<ion-view class="title-page" title="{{translation.NOTIFICATIONS | uppercase}}">
    <ion-content scroll="true" padding="false" id="notificationslist">
        <ul class="list notifications-list">
            <li value="001" class="notifications-list-item" ng-click="openModal()">
                <div class="notifications-list-first-column center">
                    <i class="ion-android-alert notification-color"></i>
                </div>
                <div class="notifications-list-second-column">
                    <a>
                        <span class="notifications-list-title color-black ">TITULO 1</span>
                        <span class="notifications-list-date color-black ">01/01/2017</span>
                        <span class="notifications-list-subtitle color-black ">subtile</span>
                    </a>
                </div>
                <div class="notifications-list-third-column center">
                    <a>
                        <i class="ion-ios-trash-outline"></i>
                    </a>
                </div>
            </li>
            <li value="002" class="notifications-list-item notifications-revised-item" ng-click="openModal()">
                <div class="notifications-list-first-column center">
                    <i class="ion-android-alert notification-color"></i>
                </div>
                <div class="notifications-list-second-column">
                    <a>
                        <span class="notifications-list-title color-black ">TITULO 1</span>
                        <span class="notifications-list-date color-black ">01/01/2017</span>
                        <span class="notifications-list-subtitle color-black ">subtile</span>
                    </a>
                </div>
                <div class="notifications-list-third-column center">
                    <a>
                        <i class="ion-ios-trash-outline"></i>
                    </a>
                </div>
            </li>
            <li value="003" class="notifications-list-item notifications-revised-item" ng-click="openModal()">
                <div class="notifications-list-first-column center">
                    <i class="ion-android-alert notification-color"></i>
                </div>
                <div class="notifications-list-second-column">
                    <a>
                        <span class="notifications-list-title color-black ">TITULO 1</span>
                        <span class="notifications-list-date color-black ">01/01/2017</span>
                        <span class="notifications-list-subtitle color-black ">subtile</span>
                    </a>
                </div>
                <div class="notifications-list-third-column center">
                    <a>
                        <i class="ion-ios-trash-outline"></i>
                    </a>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>