<ion-modal-view title="{{translation.NOTIFICATIONS | uppercase}}" class="modal-container">
    <ion-header-bar>
        <span class="title-page">{{translation.NOTIFICATIONS}}</span>
    </ion-header-bar>
    <ion-content>
        <div class="modal-content">
            {{translation.LOREM_IPSUM_TEXT | uppercase}}
        </div>
        <div class="row">
            <div class="col center">
                <button class="button button-block notification-style button-general color-white" ng-click="closeModal()">
                    <span>{{translation.ACCEPT | uppercase}}</span>
                    <!--<i class="icon icon_enel_check"></i>-->
                </button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>