<ion-view id="tutorial" title="Tutorial" ng-class="isIos ? 'tutorial-margin-header':''">
    <ion-content scroll="false">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="0" pager-click="pagerClick(index)" does-continue="false" class="tutorial">
            <ion-slide class="margin-top-30">
                <div class="box tutoUno">
                    <h3>{{translation.TUTORIAL_01_TEXT}}</h3>
                    <a class="ir-a-app" ng-click="passTuto('{{translation.GA_TUTORIAL_SLIDE_1}}','{{translation.GA_SKIP_INTRO}}')" title="Ir a la aplicación">{{translation.SKIP_INTRO}}</a>
                    <figure>
                        <img src="img/tutorial/tuto1.png" alt="tutoimg1">
                    </figure>
                </div>
            </ion-slide>
            <ion-slide class="margin-top-30">
                <div class="box tutoDos">
                    <h3>{{translation.TUTORIAL_02_TEXT}}</h3>
                    <a class="ir-a-app" ng-click="passTuto('{{translation.GA_TUTORIAL_SLIDE_2}}','{{translation.GA_SKIP_INTRO}}')" title="Ir a la aplicación">{{translation.SKIP_INTRO}}</a>
                    <figure>
                        <img src="img/tutorial/tuto2.png" alt="tutoimg2">
                    </figure>
                </div>
            </ion-slide>
            <ion-slide class="margin-top-30">
                <div class="box tutoTres">
                    <h3>{{translation.TUTORIAL_03_TEXT}}</h3>
                    <a class="ir-a-app" ng-click="passTuto('{{translation.GA_TUTORIAL_SLIDE_3}}','{{translation.GA_SKIP_INTRO}}')" title="Ir a la aplicación">{{translation.SKIP_INTRO}}</a>
                    <figure>
                        <img src="img/tutorial/tuto3.png" alt="tutoimg3">
                    </figure>
                </div>
            </ion-slide>
            <ion-slide class="margin-top-30">
                <div class="box tutoCuatro">
                    <h3>{{translation.TUTORIAL_04_TEXT}}</h3>
                    <a class="ir-a-app" ng-click="passTuto('{{translation.GA_TUTORIAL_SLIDE_4}}','{{translation.GA_SKIP_INTRO}}')" title="Ir a la aplicación">{{translation.SKIP_INTRO}}</a>
                    <figure>
                        <img src="img/tutorial/tuto4.png" alt="tutoimg4">
                    </figure>
                </div>
            </ion-slide>
            <ion-slide class="margin-top-30">
                <div class="box tutoCinco">
                    <h3>{{translation.TUTORIAL_05_TEXT}}</h3>
                    <a class="ir-a-app" ng-click="passTuto('{{translation.GA_TUTORIAL_SLIDE_5}}','{{translation.GA_SKIP_INTRO}}')" title="Ir a la aplicación">{{translation.SKIP_INTRO}}</a>
                    <figure>
                        <img src="img/tutorial/tuto5.png" alt="tutoimg5">
                    </figure>
                </div>
            </ion-slide>
            <ion-slide class="margin-top-30">
                <div class="box tutoSeis">
                    <h3></h3>
                    <a class="ir-a-app" ng-click="passTuto('{{translation.GA_TUTORIAL_SLIDE_6}}','{{translation.GA_SKIP_INTRO}}')" title="Ir a la aplicación">{{translation.FINISH}}</a>
                    <figure>
                        <img src="img/tutorial/tuto6.png" alt="tutoimg6">
                    </figure>
                </div>
            </ion-slide>
        </ion-slide-box>


    </ion-content>
</ion-view>