<div class="error" ng-message="required">
    <i class="ion-information-circled"></i> {{translation.VALIDATION_REQUIRED}}
</div>
<div class="error" ng-message="minlength">
    <i class="ion-information-circled"></i> {{translation.VALIDATION_MIN_LENGTH}}
</div>
<div class="error" ng-message="maxlength">
    <i class="ion-information-circled"></i> {{translation.VALIDATION_MAX_LENGTH}}
</div>
<div class="error" ng-message="email">
    <i class="ion-information-circled"></i> {{translation.VALIDATION_EMAIL}}
</div>
<div class="error" ng-message="rut">
    <i class="ion-information-circled"></i> {{translation.VALIDATION_RUT}}
</div>
<div class="error" ng-message="number">
    <i class="ion-information-circled"></i> {{translation.VALIDATION_NUMBER}}
</div>
<div class="error" ng-message="passwordMatch">
    <i class="ion-information-circled"></i> {{translation.VALIDATION_PASS_MATCH}}
</div>
<div class="error" ng-message="twoNumbersValidator">
    <i class="ion-information-circled"></i> {{translation.VALIDATION_TWO_NUMBERS}}
</div>
<div class="error" ng-message="startWithNumberValidator">
    <i class="ion-information-circled"></i> {{translation.VALIDATION_START_NUMBERS}}
</div>
<div class="error" ng-message="passwordFormat">
    <i class="ion-information-circled"></i> {{translation.VALIDATION_PASSWORD_FORMAT}}
</div>
<div class="error" ng-message="password">
    <i class="ion-information-circled"></i> {{translation.VALIDATION_PASS_MATCH}}
</div>