<ion-view class="title-page" title="{{translation.FEATURED | uppercase}}">
    <ion-content scroll="true" padding="false" id="featuredlist">
        <ul class="list featured-list">
            <li value="{{item.titulo}}" ng-click="featuredDescription({{item.index}})" ng-repeat="item in featuredList">
                <i class="padding featured-list-component featured-list-left-icon center featured-color"></i>
                <span class="branches-list-component branches-list-title">{{item.titulo | uppercase}}</span>
                <i class="ion-chevron-right featured-item-component featured-list-right-icon center featured-color"></i>
            </li>
            <!--
            <li value="001" ng-click="featuredDescription()">
                <i class="ion-location featured-list-component featured-list-left-icon center featured-color"></i>
                <span class="branches-list-component branches-list-title">TITULO 1</span>
                <i class="ion-chevron-right featured-item-component featured-list-right-icon center featured-color"></i>
            </li>
            <li value="002" ng-click="featuredDescription()">
                <i class="ion-location featured-list-component featured-list-left-icon center featured-color"></i>
                <span class="branches-list-component branches-list-title">TITULO 2</span>
                <i class="ion-chevron-right featured-item-component featured-list-right-icon center featured-color"></i>
            </li>
            <li value="003" ng-click="featuredDescription()">
                <i class="ion-location featured-list-component featured-list-left-icon center featured-color"></i>
                <span class="branches-list-component branches-list-title">TITULO 3</span>
                <i class="ion-chevron-right featured-item-component featured-list-right-icon center featured-color"></i>
            </li>
            -->
        </ul>
    </ion-content>
</ion-view>