<div class="row table-header usage-style color-white">
    <div class="col center">{{translation.DATE | uppercase}}</div>
    <div class="col center">{{translation.LABEL_READING | uppercase}}</div>
    <div class="col center">{{translation.USAGE_MONTH | uppercase}}</div>
    <div class="col center" ng-if="dataUsageAssetUsage.typeUsage !==null && dataUsageAssetUsage.typeUsage !=UTILS_CONFIG.USAGE_TYPE_RATE_TYPE_CODE_1">{{translation.TYPE | uppercase}}</div>
</div>
<div class="row margin-top-10 border-bottom border-color-grey-enel" ng-repeat="usage in dataUsageAssetUsage.items">
    <div class="col center amount">{{usage.fechaFacturacion}}
    </div>
    <div class="col center font-size-12">{{usage.lecturaActual !=null && usage.lecturaActual !="-" ? ((usage.lecturaActual | number) +" kWh") : "-" }}
    </div>
    <div class="col center font-size-12 bolder">{{usage.consumoEnergia !=null && usage.consumoEnergia !="-" ? ((usage.consumoEnergia | number) +" kWh") : "-" }}
    </div>
    <div class="col center font-size-12 bolder" ng-if="dataUsageAssetUsage.typeUsage !==null && dataUsageAssetUsage.typeUsage !=UTILS_CONFIG.USAGE_TYPE_RATE_TYPE_CODE_1">{{usage.tipoConsumo === UTILS_CONFIG.USAGE_TYPE_RATE_TYPE_CODE_3 ? translation.DAY : (usage.tipoConsumo === UTILS_CONFIG.USAGE_TYPE_RATE_TYPE_CODE_4 ? translation.NIGHT : (usage.tipoConsumo === UTILS_CONFIG.USAGE_TYPE_RATE_TYPE_CODE_5 ? translation.PEAK
        : "-" )) }}
    </div>

</div>