<ion-modal-view title="{{translation.HELP | uppercase}}" class="help-modal-container">
    <ion-header-bar>
        <div class="button-row-iframe" ng-click="closeModal()">
            <i class="icon icon_enel_close"></i><br>
            <span>{{translation.CLOSE | uppercase}}</span>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" padding="false">
        <div class="row">
            <div class="col center">
                <p class="textbox-parragraph-0 textbox-subtitle-0 text-justify">
                    <span style="font-size:14px;">{{translation.ADD_ASSETS_CONDITIONS_TEXT_01}}</span></p>
                <p class="textbox-parragraph-0 textbox-subtitle-0 text-justify">
                    <span style="font-size:14px;">{{translation.ADD_ASSETS_CONDITIONS_TEXT_02}}</span></p>
                <p class="textbox-parragraph-0 textbox-subtitle-0 text-justify">
                    <span style="font-size:14px;">{{translation.ADD_ASSETS_CONDITIONS_TEXT_03}}</span></p>
                <p class="textbox-parragraph-0 textbox-subtitle-0 text-justify">
                    <span style="font-size:14px;">{{translation.ADD_ASSETS_CONDITIONS_TEXT_04}}</span></p>
                <p class="textbox-parragraph-0 textbox-subtitle-0 text-justify">
                    <span style="font-size:14px;">{{translation.ADD_ASSETS_CONDITIONS_TEXT_05}}</span></p>
                <p class="textbox-parragraph-0 textbox-subtitle-0 text-justify">
                    <span style="font-size:14px;">{{translation.ADD_ASSETS_CONDITIONS_TEXT_06}}</span></p>
                <p class="textbox-parragraph-0 textbox-subtitle-0 text-justify">
                    <span style="font-size:14px;">{{translation.ADD_ASSETS_CONDITIONS_TEXT_07}}</span></p>
                <p class="textbox-parragraph-0 textbox-subtitle-0 text-justify">
                    <span style="font-size:14px;">{{translation.ADD_ASSETS_CONDITIONS_TEXT_08}}</span></p>

            </div>
        </div>
    </ion-content>
</ion-modal-view>