<ion-modal-view title="{{translation.HELP | uppercase}}" class="help-modal-container">
    <ion-header-bar>
        <div class="button-row-iframe" ng-click="closeModal()">
            <i class="icon icon_enel_close"></i><br>
            <span>{{translation.CLOSE | uppercase}}</span>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" padding="false">
        <div class="row">
            <div class="col center" ng-bind-html="modal.content">
            </div>
        </div>
    </ion-content>
</ion-modal-view>