<ion-modal-view title="{{translation.PAYMENT | uppercase}}" class="help-modal-container">
    <ion-header-bar>
        <div class="button-row-iframe" ng-click="closeModal()">
            <i class="icon icon_enel_close"></i><br>
            <span>{{translation.CLOSE | uppercase}}</span>
        </div>
    </ion-header-bar>
    <ion-content scroll="true" padding="false" overflow-scroll="true">
        <div class="row">
            <form name="aForm" show="true" action="{{modal.content.url}}" target="iFrame" method="POST" onload-submit-form>
                <input id="val" type="hidden" name="val" value="{{modal.content.xml}}" />
            </form>
        </div>

        <iframe id="iFrame" name="iFrame" src="{{modal.content.url}}" class="width-full-size height-full-size" data-tap-disabled="true" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" paymenturlload></iframe>


    </ion-content>
</ion-modal-view>