<ion-view class="title-page" title="{{translation.BLACKOUT | uppercase}}">
    <ion-content scroll="true" padding="true">
        <div class="row">
            <div class="col center">
                <img class="logo-enel" src="img/logos/Enel_Logo_Secondary_color_RGB.png" />
            </div>
        </div>
        <form name="forms.preBlackoutForm" novalidate="" ng-submit="validateForm()" validate-form-focus>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <ion-item class="item-icon-right lined-item input-text-without-icon">
                            <label class="label-input-form">{{translation.LABEL_NUM_CLIENT}}</label>
                            <i class="button button-clear icon color-pink ion-ios-information input-text-icon-helper" ng-click="helpModal()"></i>
                            <input type="text" placeholder="{{translation.PLACEHOLDER_NUM_CLIENT}}" name="clientNum" ng-model="clientNum" ng-blur="sendAnalytics(translation.PAGE_PRE_BLACKOUT +' - '+ translation.GA_STEP_01,translation.GA_WRITE_CLIENT_NUMBER)" ng-class="{'has-errors' : forms.preBlackoutForm.clientNum.$invalid && forms.preBlackoutForm.$submitted, 'no-errors' : forms.preBlackoutForm.clientNum.$valid && forms.preBlackoutForm.$submitted}"
                                required ng-rut rut-format="none" asset-format asset-validator ng-maxlength="9">
                            <div class="error-container last-error-container" ng-show="forms.preBlackoutForm.clientNum.$error && forms.preBlackoutForm.$submitted" ng-messages="forms.preBlackoutForm.clientNum.$error">
                                <div ng-messages-include="views/errorList.html"></div>
                            </div>
                        </ion-item>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col center">
                    <button class="button button-block emergency-style button-general" type="submit" button-id="consultButton">{{translation.CONSULT | uppercase}}
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col center">
                    <button class="button-like-link" type="button" ng-click="searchClientId()">{{translation.SEARCH_NUM_CLIENT}}</button>
                    <button ng-if="isLogged" class="button button-block back-button button-general" ng-click="sendAnalytics('{{translation.PAGE_PRE_BLACKOUT}} - {{translation.GA_STEP_01}}','{{translation.GA_PUSH_BACK_BUTTON}}')" ui-sref="session.emergencyMenu">{{translation.BACK | uppercase}}
                    </button>
                    <button ng-if="!isLogged" class="button button-block back-button button-general" ng-click="sendAnalytics('{{translation.PAGE_PRE_BLACKOUT}} - {{translation.GA_STEP_01}}','{{translation.GA_PUSH_BACK_BUTTON}}')" ui-sref="guest.emergencyMenu">{{translation.BACK | uppercase}}
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>