<ion-view class="title-page" title="{{translation.LOGOUT | uppercase}}">
    <ion-content scroll="true" padding="false">
        <div class="row">
            <div class="col">
                <div class="cursor"></div>
            </div>
            <div class="col color-white center">
                <div class="">{{translation.SEE_YOU_SOON}} {{userdata.name}}, {{translation.THANKS_YOR_VISITING_US}}.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col center">
                <img src="img/YGJ4qpsBTd69L8ofOWq6_logo_white.png" alt="" />
            </div>
        </div>
    </ion-content>
</ion-view>