<ion-view class="title-page" id="validation" title="{{translation.VALIDATE_ACCOUNT | uppercase}}">
    <ion-content scroll="true" padding="true">
        <div class="row">
            <div class="col center">
                <img class="logo-enel" src="img/logos/Enel_Logo_Secondary_color_RGB.png" />
            </div>
        </div>
        <form name="forms.activateAccount" novalidate="" ng-submit="validateForm()" validate-form-focus>
            <div class="row margin-top-20">
                <ion-item class="item-icon-right lined-item " style="white-space: normal; text-align: justify;">
                    <label class="label">{{translation.LABEL_DESCRIBE_INSERT_CODE}}</label>
                </ion-item>
            </div>
            <div class="row">
                <ion-item class="item-icon-right lined-item input-text-without-icon  width-full-size">
                    <label class="label-input-form">{{translation.LABEL_INSERT_CODE}}</label>
                    <input type="number" placeholder="{{translation.PLACEHOLDER_INSERT_CODE}}" name="insertCode" ng-model="insertCode" ng-blur="sendAnalytics(translation.PAGE_VALIDATION,translation.GA_WRITE_INSERT_CODE)" ng-class="{'has-errors' : forms.activateAccount.insertCode.$invalid && forms.activateAccount.$submitted, 'no-errors' : forms.activateAccount.insertCode.$valid && forms.activateAccount.$submitted}"
                        required>
                    <div class="error-container last-error-container" ng-show="forms.activateAccount.insertCode.$error && forms.activateAccount.$submitted" ng-messages="forms.activateAccount.insertCode.$error">
                        <div ng-messages-include="views/errorList.html"></div>
                    </div>
                </ion-item>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-block home-style button-general" type="submit">{{translation.ACTIVATE_ACCOUNT | uppercase}}
                    </button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <button class="button button-block btn-white" type="button" ng-click="regenerateCode()">{{translation.SEND_CODE_AGAIN | uppercase}}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="button button-block back-button button-general" ng-click="sendAnalytics('{{translation.PAGE_VALIDATION}}','{{translation.GA_PUSH_BACK_BUTTON}}')" ui-sref="guest.register">{{translation.BACK | uppercase}}</button>
            </div>
        </div>
    </ion-content>
</ion-view>