<ion-view class="title-page" id="verification" title="{{translation.PASSWORD_RECOVERY | uppercase}}">
    <ion-content scroll="true" padding="true">
        <div class="row">
            <div class="col center">
                <img class="logo-enel" src="img/logos/Enel_Logo_Secondary_color_RGB.png" />
            </div>
        </div>
        <form class="list" name="forms.step1Verification" novalidate="" ng-submit="formValidationStep1()" validate-form-focus>
            <div class="row margin-top-10">
                <ion-item class="col item-icon-left lined-item input-text-without-icon item  width-full-size">
                    <label class="label-input-form">{{translation.LABEL_RUT}}</label>
                    <input type="text" placeholder="{{translation.PLACEHOLDER_RUT}}" name="rut" ng-model="rut" ng-class="{'has-errors' : forms.step1Verification.rut.$invalid && forms.step1Verification.$submitted, 'no-errors' : forms.step1Verification.rut.$valid && forms.step1Verification.$submitted}"
                        required ng-rut rut-format="none" asset-format asset-validator ng-maxlength="10">
                    <div class="error-container last-error-container" ng-show="forms.step1Verification.rut.$error && forms.step1Verification.$submitted" ng-messages="forms.step1Verification.rut.$error">
                        <div ng-messages-include="views/errorList.html"></div>
                    </div>
                </ion-item>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-block btn-white" type="submit">{{translation.SEND_ME_CODE | uppercase}}
                        <!--<i class="icon icon_enel_check"></i>-->
                    </button>
                </div>
            </div>
        </form>
        <!--<form class="list" name="forms.step2Verification" novalidate="" ng-submit="formValidationStep2()">
            <div class="row">
                <ion-item class="col item-icon-left lined-item input-text-without-icon item  width-full-size">
                    <label class="label-input-form">{{translation.LABEL_ENTER_CODE}}</label>
                    <input type="number" placeholder="{{translation.PLACEHOLDER_ENTER_CODE}}" name="code" ng-model="code" ng-class="{'has-errors' : forms.step2Verification.code.$invalid && forms.step2Verification.$submitted, 'no-errors' : forms.step2Verification.code.$valid && forms.step2Verification.$submitted}"
                        required>
                    <div class="error-container last-error-container" ng-show="forms.step2Verification.code.$error && forms.step2Verification.$submitted" ng-messages="forms.step2Verification.code.$error">
                        <div ng-messages-include="views/errorList.html"></div>
                    </div>
                </ion-item>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button class="button button-block home-style button-general" type="submit">{{translation.VALIDATE_CODE | uppercase}}
                    </button>
                </div>
            </div>
        </form>-->
        <div class="row">
            <div class="col text-center">
                <button class="button button-block back-button button-general" ui-sref="guest.login">{{translation.BACK | uppercase}}
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>