<ion-view class="title-page" id="verificationPass" title="{{translation.CHANGE_YOUR_PASS | uppercase}}">
    <ion-content scroll="true" padding="true">
        <div class="row">
            <div class="col center">
                <img class="logo-enel" src="img/logos/Enel_Logo_Secondary_color_RGB.png" />
            </div>
        </div>
        <div class="row margin-top-10">
            <div class="col">
                <form name="forms.verificationPass" novalidate="" ng-submit="formValidation()" validate-form-focus>
                    <ion-item class="col item-icon-left lined-item input-text-without-icon item  width-full-size">
                        <label class="label-input-form">{{translation.LABEL_ENTER_CODE}}</label>
                        <input type="number" placeholder="{{translation.PLACEHOLDER_ENTER_CODE}}" name="code" ng-model="code" ng-blur="sendAnalytics(translation.PAGE_VERIFICATION_PASS,translation.GA_WRITE_CODE)" ng-class="{'has-errors' : forms.verificationPass.code.$invalid && forms.verificationPass.$submitted, 'no-errors' : forms.verificationPass.code.$valid && forms.verificationPass.$submitted}"
                            required>
                        <div class="error-container last-error-container" ng-show="forms.verificationPass.code.$error && forms.verificationPass.$submitted" ng-messages="forms.verificationPass.code.$error">
                            <div ng-messages-include="views/errorList.html"></div>
                        </div>
                    </ion-item>
                    <ion-item class="item-icon-left lined-item input-text-without-icon item  width-full-size">
                        <label class="label-input-form">{{translation.LABEL_ENTER_NEW_PASS}}</label>
                        <input type="password" placeholder="{{translation.PLACEHOLDER_ENTER_NEW_PASS}}" name="newPass" ng-model="newPass" ng-blur="sendAnalytics(translation.PAGE_VERIFICATION_PASS,translation.GA_WRITE_NEW_PASS)" ng-class="{'has-errors' : forms.verificationPass.newPass.$invalid && forms.verificationPass.$submitted, 'no-errors' : forms.verificationPass.newPass.$valid && forms.verificationPass.$submitted}"
                            required ng-minlength="8" ng-maxlength="30" password-validator>
                        <div class="error-container last-error-container" ng-show="forms.verificationPass.newPass.$error && forms.verificationPass.$submitted" ng-messages="forms.verificationPass.newPass.$error">
                            <div ng-messages-include="views/errorList.html"></div>
                        </div>
                    </ion-item>
                    <ion-item class="item-icon-left lined-item input-text-without-icon item  width-full-size">
                        <label class="label-input-form">{{translation.LABEL_REPEAT_NEW_PASS}}</label>
                        <input type="password" placeholder="{{translation.PLACEHOLDER_REPEAT_NEW_PASS}}" name="repeatNewPass" ng-model="repeatNewPass" ng-blur="sendAnalytics(translation.PAGE_VERIFICATION_PASS,translation.GA_WRITE_REPEAT_NEW_PASS)" ng-class="{'has-errors' : forms.verificationPass.repeatNewPass.$invalid && forms.verificationPass.$submitted, 'no-errors' : forms.verificationPass.repeatNewPass.$valid && forms.verificationPass.$submitted}"
                            required match-password="newPass">
                        <div class="error-container last-error-container" ng-show="forms.verificationPass.repeatNewPass.$error && forms.verificationPass.$submitted" ng-messages="forms.verificationPass.repeatNewPass.$error">
                            <div ng-messages-include="views/errorList.html"></div>
                        </div>
                    </ion-item>
                    <div class="row">
                        <div class="col">
                            <button class="button button-block home-style button-general" type="sumbit">{{translation.CHANGE_YOUR_PASS | uppercase}}
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="button button-block btn-white" type="button" ng-click="regenerateCode()">{{translation.GENERATE_NEW_CODE | uppercase}}
                    </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>